/* GLOBAL */
* {
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Poppins", "Arial", sans-serif;
    font-size: 15px;
    line-height: 26px;
}

img {
    max-width: 100%;
    height: auto;
}


/* OUTLINE STYLES */
*:focus {
    outline: 2px dashed #2bd0d0;
    outline-offset: 3px;
}


/* CONTAINER */
.container {
    width: 100%;
    max-width: 1140px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
    flex-grow: 1;
}


/* MAIN__LINK */
.main__link {
    text-decoration: none;
    padding: 14px 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    border-radius: 28px;
    color: #fff;
    background-color: #2bd0d0;
    transition: background-color 0.4s ease,
        opacity 0.4s ease;
}

.main__link:hover {
    background-color: #9ae3e3;
}

.main__active {
    opacity: 0.6;
}


/* SITE-HEADER */
.site-header { 
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: #fff;
}

.site-header__container {
    display: flex;
    align-items: center;
}

/* SITE-LOGO */
.site-logo {
    margin-right: 45px;
    transition: opacity 0.4s ease;
}

.site-logo:hover {
    opacity: 0.8;
}

.site-logo:active {
    opacity: 0.6;
}

.site-logo__img {
    display: block;
    width: 120px;
    height: 32px;
}

/* SITENAV */
.sitenav {
    margin-right: auto;
}

.sitenav__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.sitenav__item:not(:last-child) {
    margin-right: 29px;
}

.sitenav__link {
    text-decoration: none;
    font-weight: 700;
    line-height: 22px;
    color: #9e9aa8;
    transition: color 0.4s ease,
        opacity 0.4s ease;
}

.sitenav__link:hover {
    color: #34313d;
}

.sitenav__link:active {
    opacity: 0.6;
}

/* REGISTRATION */
.registration__login {
    margin-right: 37px;
    font-weight: 700;
    line-height: 22px;
    color: #9e9aa8;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.4s ease,
        opacity 0.4s ease;
}

.registration__login:hover {
    color: #34313d;
}

.registration__login:active {
    opacity: 0.6;
}

.registration__sign-up {
    font-weight: 700;
    line-height: 22px;
    padding: 8px 24px;
    color: #fff;
    background-color: #2bd0d0;
    border: 0;
    border-radius: 28px;
    cursor: pointer;
    transition: background-color 0.4s ease,
        opacity 0.4s ease;
}

.registration__sign-up:hover {
    background-color: #9ae3e3;
}

.registration__sign-up:active {
    opacity: 0.6;
}


/* HERO */
.hero {
    padding-top: 20px;
    padding-bottom: 34px;
}

.hero__container {
    display: flex;
    align-items: center;
}


/* HERO__CONTENT */
.hero__title {
    width: 565px;
    margin: 0;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: -2px;
    color: #34313d;
}

.hero__text {
    width: 540px;
    margin: 0;
    margin-bottom: 38px;
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 0.15px;
    color: #9e9aa8;
}


/* HERO__RIGHT */
.hero__img {
    position: relative;
    left: 55px;
    width: 733px;
    height: 482px;
}


/* SHORTENING */
.shortening {
    padding-top: 34px;
    padding-bottom: 60px;
}

.shortening__form {
    width: 1120px;
    padding: 52px 64px;
    border-radius: 10px;
    background-image: url(/img/shortening-bg.svg);
    background-size: contain; 
    background-repeat: no-repeat;
}

.shortening__input {
    width: 769px;
    padding: 14px 0 14px 32px;
    margin-right: 24px;
    border: 0;
    color: #99989e;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.15px;
    border-radius: 10px;
}

.shortening__button {
    padding: 18px 40px 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    border: 0;
    border-radius: 10px;
    color: #fff;
    background-color: #2bd0d0;
    cursor: pointer;
    transition: background-color 0.4s ease,
        opacity 0.4s ease;
}

.shortening__button:hover {
    background-color: #9ae3e3;
}

.shortening__button:active {
    opacity: 0.6;
}


/* STATISTICS */
.statistics {
    padding-top: 60px;
    padding-bottom: 120px;
    background-color: #eff1f7;
}

.statistics__title {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
    color: #34313d;
    text-align: center;
}

.statistics__text {
    width: 540px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 56px;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.12px;
    text-align: center;
    color: #9e9aa8;
}


/* STATISTICS__LIST */
.statistics__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.statistics__item {
    padding: 20px 32px 41px;
    background-color: #fff;
    border-radius: 4px;
}

.statistics__item:not(:last-child) {
    margin-right: 30px;
}

.statistics__item-img {
    margin-bottom: 33px;
    width: 88px;
    height: 88px;
}

.statistics__item-title {
    margin: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: #34313d;
}

.statistics__item-text {
    width: 286px;
    margin: 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    color: #9e9aa8;
}


/* CTA */
.cta {
    padding-top: 57px;
    padding-bottom: 57px;
    background-image: url(/img/cta__bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.cta__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta__title {
    margin: 0;
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
    color: #fff;
}